<html>

<head>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>

<body>

    <div class="container m-3" id="app">
      <div class="row text-left m-3 p-3">
        <div class="col-4">
            SVP entrez votre nom:
        </div>


        <div class="col-2 text-left">
          <input type="text" v-model="name"/>
        </div>

      </div>

      <div class="row">
        <div class="col text-center p-3">
            Salut <b>{{name}}</b>, faisons quelques exercices!
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <button type="button" name="button" @click="on_start">Oui, on commence</button>
        </div>

      </div>

      <div v-if="start_time != ''" class="row">
        <div class="col text-center m-3">
            Temps ecoulé: <b>{{elapsed_time}}</b>
        </div>
      </div>

        <div id=equation-container class="row m-5">
          <div class="col-12 mb-3" v-if="n_tried >= 0">Entrez les nombres manquants:</div>
          <ul class="list-group col-9">
            <li class="list-group-item" v-for="(triple, eq_index) in triples" v-show="n_tried >= eq_index">

              <equation :equation_index="eq_index"
                        :num1="triple[0]"
                        :num2="triple[1]"
                        :num3="triple[2]"
                        :operation="operations[eq_index]"
                        :input_index="input_index[eq_index]"
                        :n_tried="n_tried" @oncorrect-equation="on_correct"></equation>

            </li>
          </ul>

          <div id="end-message" class="col-12" v-if="n_tried > 0">
            Votre score est {{n_correct}} de {{n_total}}.<br/>
            <span v-if="n_tried === n_total">L'exercice est termine: {{name}},</span>
            <span v-if="n_correct == n_total">vous etes un genie!</span>
            <span v-else-if="(n_correct > 0.5 * n_total) && n_tried === n_total">bien joué, mais il y a de l'espace pour amelioration!</span>
            <span v-else-if="(n_correct <= 0.5 * n_total) && n_tried === n_total">il faut pratiquer plus!</span>

          </div>

        </div>


    </div>


 <!-- equqtion template -->
    <template id="equation">
      <div class="row">

        <div class="col-6">
          <span v-for="token in tokens">
            <span v-if="token === -1">
              <input size="4"  v-model.number="user_answer" :disabled="corrected"/>
            </span>
            <span v-else>
              {{token}}
            </span>
          </span>
        </div>

        <div v-if="!corrected">
          <button type="button" @click="on_correct()">Corriger!</button>
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div v-if="corrected && is_correct" class="text-success">
          <i class="fa fa-check"></i>
          Bien joué!
        </div>
        <div v-if="corrected && !is_correct" class="text-danger">
            <i class="fa fa-times"></i>
            La reponse est: {{correct_answer}}.
        </div>

      </div>
    </template>


    <script type="text/javascript" src="node_modules/jquery/dist/jquery.slim.min.js">
    </script>

    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    <!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    -->
    <script type="text/javascript" src="node_modules/moment-duration-format/lib/moment-duration-format.js"></script>
    <script src="./node_modules/moment/moment.js"></script>
    <!-- vue.js -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
-->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/arithmetics.js"></script>
</body>

</html>
